* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stiluri pentru body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CSS animation to animate text */
        #moving-text {
            display: inline-block;
            animation: moveText 10s linear infinite;
        }

        @keyframes moveText {
            from {
                transform: translateX(-50%);
            }
            to {
                transform: translateX(50%);
            }
        }

header .logo h1 {
/*	margin-right:5%;  */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
	
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/* Secțiuni */
.section {
    padding: 40px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Secțiunea Produse */
.produse-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.produs {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produs img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
}

.produs h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.produs a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.produs a:hover {
    background-color: #555;
}

/* Formular Contact */
form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}